<div class="bandcontent span-22">
	<div class="contentbox">
		<div class="span-2 contentpic "><a href="{{ path('bbl_web_homepage') }}profil{{ link }}"><img src="{{ asset(picture) }}" height="120px" width="120px"></a></div>
		<div class="span-17 prepend-2"><a href="{{ path('bbl_web_homepage') }}profil{{ link }}"><h3 class="alt">{{ name }}</h3></a></div>
		<div class="span-17 prepend-2"><hr></div>
		<div class="span-17 prepend-2 last"><p>{{ info }}</p></div>
	</div>
</div>