<div class="c_container span-22 effect7">
    <div class="c_header span-22">
            <div class="c_pic span-2"><img src="{{ asset(picture) }}" height="60" width="60"></div>
            <div class="c_name span-17"><a href="{{ path('bbl_web_homepage') }}profil{{ link }}"><h6>{{ name }}</h6></a></div>
            <div class="c_button span-1 prepend-1 last"><img data-dropdown="#dropdown-1" src="{{ asset('bundles/bblweb/images/button.png') }}"></div>
    </div>
    <hr>
    <div class="c_content span-22">
            <div class="c_info span-20 prepend-2"><p>{{ info }}</p></div>
    </div>
    <hr>
    <div class="c_footer span-22">
            <div class="c_tags span-11">{ tags }</div>	
    </div>
</div>