<!DOCTYPE html>
<html>
<body>
{% block body %}
{# hier kommen noch die tags zur formatierung #}
	<div id="content">
		{% block tabcontent %} 
		<div class="abstand">
		<div class="span-22 prepend-2 last">	<h3 class="alt">{{ title }}</h3></div>
			
			<ul>
				{% for object in objects %}
				<!-- title: Überschrift des jeweiligen Tabs(Bands, Events, Forum)-->
				<div class="span-20 prepend-2 box"><li><div class="span-2 colborder">{{ object.picture }}</div> 
				<!-- name: Band bzw. Event name, info: Band bzw. Event information -->
				<div class="span-6 last alt"><a href=" {{ object.link }}"><h3> {{ object.name }}</h3></a><br />{{ object.info }}<br /></div></li></div><hr> 
				{% endfor %}
			</ul>
		</div>
		{% endblock %}
	</div> 
{% endblock %}
</body>
</html>
