<!-- THIS IS THE GUEST HEADER!!!!! -->

<div id="header" class="span-24">
    <div class="menu">
        <ul>
            <li><a href="{{ path('bbl_web_homepage') }}">Clangdom</a></li>
            <li><div id="searchfield"><input type="text" id="search" class="textBox" value="Search!" onfocus="if (this.value == 'Search!') this.value = '';" onblur="if (this.value == '') this.value = 'Search!';" maxlength="255" /><input type="image" src="{{ asset('bundles/bblweb/images/btn_search.png') }}" class="button" /></div></li>
            <li><a href="javascript:void(0);"><div id="radio"><img src="{{ asset('bundles/bblweb/images/radio4.png') }}" class="picR"></div></a>
                <ul>
                    <li><embed height="100" width="300" src="stuff/legohouse.mp3"></li>
                </ul>
            </li>
            <li><a id="open_f" href="javascript:void(0);"><div id="filter"><img src="{{ asset('bundles/bblweb/images/filter2.png') }}" class="picF"></div></a></li>
            <li><div class="hiddenguest">hidden</div></li>
            <li><a href="{{ path('registry') }}">JOIN CLANGDOM</a><li>
            <li><a id="open_l" href="javascript:void(0);">LOGIN</a></li>
        </ul>
    </div>
</div>			
		<!-- Old headers
			<div class="span-5"><a href="{{ path('bbl_web_homepage') }}"><img src="{{ asset('bundles/bblweb/images/Clangdomlogo.jpg') }}"></a></div>
			<div class="span-8"><div id="searchfield"><div id="searchHolder">
			<form>
			<span ><input type="text"  class="textBox" />
			<img src="{{ asset('bundles/bblweb/images/clearBtn.png') }}"  class="cancelBtn"/></span>
			</form></div></div></div>
			<div class="span-5"><div id="bandname">  </div></div>
			<div class="span-4"><a href="{{ path('registry') }}" id="regLogo"><img src="{{ asset('bundles/bblweb/images/joinclang.jpg') }}"></a></div>
			<div class="span-2 last"><a href="#" data-reveal-id="logModal" data-animation="fade" id="logLogo"><img src="{{ asset('bundles/bblweb/images  /loginnew.jpg') }}"></a></div> -->