<!-- THIS IS THE GUEST HEADER!!!!! -->

		<div id="header" class="span-24">
			<div class="span-5"><a href="{{ path('bbl_web_homepage') }}"><img src="{{ asset('bundles/bblweb/images/Clangdomlogo.jpg') }}"></a></div>
			<div class="span-8"><div id="searchfield"><div id="searchHolder">
			<form>
			<span ><input type="text"  class="textBox" />
			<img src="{{ asset('bundles/bblweb/images/clearBtn.png') }}"  class="cancelBtn"/></span>
			</form></div></div></div>
			<div class="span-5"><div id="bandname">  </div></div>
			<div class="span-4"><a href="{{ path('registry') }}" id="regLogo"><img src="{{ asset('bundles/bblweb/images/joinclang.jpg') }}"></a></div>
			<div class="span-2 last"><a href="#" data-reveal-id="logModal" data-animation="fade" id="logLogo"><img src="{{ asset('bundles/bblweb/images  /loginnew.jpg') }}"></a></div>
		</div>