<!-- THIS IS THE GUEST HEADER!!!!! -->

		<div id="header" class="span-24">
			<div class="menu">
				<ul>
					<li><a href="{{ path('bbl_web_homepage') }}">Clangdom</a></li>
					<li><div id="searchfield"><input type="text" id="search" class="textBox" value="Search!" onfocus="if (this.value == 'Search!') this.value = '';" onblur="if (this.value == '') this.value = 'Search!';" maxlength="255" /><input type="image" src="images/btn_search.png" class="button" /></div></li>
					<li><a href="#" onClick="return false"><div id="radio"><img src="{{ asset('bundles/bblweb/images/radio4.png') }}"></div></a>
						<ul>
							<li><embed height="100" width="300" src="#"></li>
						</ul>
					</li>
					<li><a href="#" onClick="return false"><div id="filter"><img src="{{ asset('bundles/bblweb/images/filter2.png') }} "></div></a></li>
					<li><div class="hiddenguest">hidden</div></li>
					<li><a href="{{ path('registry') }}">JOIN CLANGDOM</a></li><!-- Joinclangdom pic had id="regLogo" -->
					<li><a href="#" data-reveal-id="logModal" data-animation="fade">LOGIN</a></li><!-- Login pic had id="logLogo" -->
				</ul>
			</div>			
		<!-- Old headers
			<div class="span-5"><a href="{{ path('bbl_web_homepage') }}"><img src="{{ asset('bundles/bblweb/images/Clangdomlogo.jpg') }}"></a></div>
			<div class="span-8"><div id="searchfield"><div id="searchHolder">
			<form>
			<span ><input type="text"  class="textBox" />
			<img src="{{ asset('bundles/bblweb/images/clearBtn.png') }}"  class="cancelBtn"/></span>
			</form></div></div></div>
			<div class="span-5"><div id="bandname">  </div></div>
			<div class="span-4"><a href="{{ path('registry') }}" id="regLogo"><img src="{{ asset('bundles/bblweb/images/joinclang.jpg') }}"></a></div>
			<div class="span-2 last"><a href="#" data-reveal-id="logModal" data-animation="fade" id="logLogo"><img src="{{ asset('bundles/bblweb/images  /loginnew.jpg') }}"></a></div> -->
		</div>