{% extends '::base.html.twig' %}
{% block body %} 

	{% block header %}
            {% if sesson == true %}
		{% include 'BBLWebBundle:User:headeruser.html.twig' with { 'name' : name } %}
            {% else %}
		{% include 'BBLWebBundle:Base:headerguest.html.twig' %}
            {% endif %}
	{% endblock %}
	
	<div id="content" class="span-24">
            {% block content %}{% endblock %}
	</div>

	{% block footer %}{% endblock %}
	
{% endblock %}

{% block javascript %}
//<script>

$(document).ready(function(){
	initLoad();
	loadTabs();
	loadFormData();
});



  //------------------ Ajax Methodes------------------------------
function loadTabs()
{
	var path = window.location.pathname;
	var link = path.substring(path.lastIndexOf("/"));
	$( "#tabs" ).tabs({activate: function( event, ui) {
		var url = '{{ path('ajax_load') }}';
		  $.ajax({
				  url: url,
				  type: "post",
				  data: {Type: ui.newTab.find('a').attr('type'),
				  		 Num: 10 /* maybe gets moded*/,
				  		 Link: link},
				  beforeSend: function(){
				  	if(ui.newPanel.html() == "") ui.newPanel.html(genLoad());
				  },
				  success: function(data) {
 				 ui.newPanel.html(data);
				  },
				  error: function(jqXHR, error, errorThrown) {
				  	ui.newPanel.html(jqXHR.responseText);
				  }
				  
		});
	    }
    });
}

function initLoad()
{
	var path = window.location.pathname;
	var link = path.substring(path.lastIndexOf("/"));
	$.ajax({
		  url: '{{ path('ajax_load') }}',
		  type: "post",
		  data: {Type:  $('#tabs a[href="#tabs-1"]').attr('type'),
		  		 Num: 10 /* maybe gets moded*/,
		  		 Link: link},
		  beforeSend: function(){
		  	$("#tabs-1").html(genLoad());
		  },
		  success: function(data) {
			  $("#tabs-1").html(data);
		  },
		  error: function(jqXHR, error, errorThrown) {
			  $("#tabs-1").html(jqXHR.responseText);
		  
		  }
		  
});
}

function loadFormData()
{
	$.ajax({
		 type: "post",
		 url: "{{ path('fillArtist') }}",
		 success: function(data) {
			 var length = data.Genre.length;
			 for(var i = 0; i < length; i++){
				 $('select[id^="gen"]').each(function() { 
					 		$(this).append('<option value="' + data.Genre[i] + '">' + data.Genre[i] + '</option> <br />');
				 });
			 }
			 var a = $.makeArray(data.Locations);
			 $('select[name^="loc"]').each(function() {
				 for(var key in data.Locations) {
				 	 if (data.Locations.hasOwnProperty(key)){
						 	 for(var key2 in a[0][key]) {
								  if (a[0][key].hasOwnProperty(key2)){
									  $(this).append('<optgroup name="opt' + key2 + '" label="' + key2 + '"></optgroup> <br />');
								  }
								  for (var i = 0; i < a[0][key][key2].length; i++) {
										 $('optgroup[name="opt' + key2 + '"]').append('<option country="' + key + '" fedstate="' + key2 + '" value="' + a[0][key][key2][i] + '">' + a[0][key][key2][i] + '</option> <br />');
								  }
							  }
					 }	
				 }
			 });
		}
	});
}


// --------------- Pop Up-------------------

$(function() {
    $("#tabs").tabs();

    $("#open_l").on("click", function(e) {
        $("#dialog_l").dialog({
            draggable:false,
            resizable: false,
            modal: true,
            width: 400,
            height: 300,
            buttons:{
            "Login": function(){
                var passhash = CryptoJS.SHA3($("#login_password").val()).toString();
                var url = '{{ path('login') }}';
                $.ajax({
                          type: "post",
                          url: url,
                          data: {Email: $("#login_name").val(),
                                         Pwd:   passhash},
                          success: function() {
                          window.location = "{{ path('bbl_web_homepage') }}";
                          },
                          error: function() {
                             alert('No! This is wrong');
                          }
                });
            },
            Cancel: function() {
                            $( this ).dialog( "close" );
                            }
            }

        });
    });
    
    $("#open_m").on("click", function(e) {
        $("#dialog_m").dialog({
            draggable:false,
            resizable: false,
            modal: true,
            width: 500,
            height: 420,
            buttons:{
            "Send message": function(){
                    $( this ).dialog( "close" );
            },
            Cancel: function() {
                    $( this ).dialog( "close" );
                    }
            }

        });

        $(".inner-dialog-multiselect").chosen();

    });

    $("#open_rm").on("click", function(e) {
        $("#dialog_rm").dialog({
            draggable:false,
            resizable: false,
            modal: true,
            width: 500,
            height: 420,
            buttons:{
            "Send message": function(){
                    $( this ).dialog( "close" );
            },
            Cancel: function() {
                    $( this ).dialog( "close" );
                    }
            }

        });

        $(".inner-dialog-multiselect").chosen();

    });

    $("#open_f").on("click", function(e) {
        $("#dialog_f").dialog({
            draggable:false,
            resizable: false,
            modal: true,
            width: 820,
            height: 500,
            buttons:{
            "Apply": function(){
                	 var filter = getMultiFilter();
	            	 $.ajax({
	                     type: "post",
	                     url: '{{ path('setFilter') }}',
	                     data: {filter: JSON.stringify(filter)},
	                     success: function() {
	                    	//console.log("succsess");
	                     },
	                     error: function() {
	                       // alert('No! This is wrong');
	                     }
	         		  });
	            	  $( this ).dialog( "close" );
            },
            "Reset": function() {
		            	 $.ajax({
		                     type: "post",
		                     url: '{{ path('clearFilter') }}',
		                     success: function() {
		                    	//console.log("succsess");
		                     },
		                     error: function() {
		                       // alert('No! This is wrong');
		                     }
		         		  });
		            	  $( this ).dialog( "close" );
                    }
            }

        });

        $(".dialog-multiselect").chosen();

        $("#accordion").accordion({
            heightStyle: "content",
            collapsible:true,
            active: false
        });
    });
});


  //---------------Helping methods----------------
function genLoad()
{
	return "<p> Loading, please wait....</p>";
}

 
function testfunc()
{
	alert('Surprise Mothafuckaa!!! ');
}

function getMultiFilter()
{
   var filter = new Object();
   $('select[type="filter"]').each(function() {
  	 filter[this.attr('id')] = $(this).val(); 
   });
   return filter;
	
}
  

{% endblock %} 
