{% extends '::base.html.twig' %}
{% block sidebar %}
<div id="radioSide"class="ui-widget-header ui-corner-all">
	<p>CLANGDOM RADIO</p>
	<div id="buttons">
		<button id="prev">previous</button>
		<button id="play">play</button>
		<button id="stop">stop</button>
		<button id="next">next</button>
	</div>
</div>
<div id="jquery_jplayer_1" class="jp-jplayer" style="visibility:hidden"></div>
<div id="jp_container_1" class="jp-audio">
	<div class="jp-type-playlist">
		<div class="jp-playlist">
			<ul>
				<li></li>
			</ul>
		</div>
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>
{% endblock %}
{% block body %} 

	{% block header %}
		{% if sesson == true %}
				{% include 'BBLWebBundle:User:headeruser.html.twig' with { 'name' : name } %}
			{% else %}
				{% include 'BBLWebBundle:Base:headerguest.html.twig' %}
		{% endif %}
	{% endblock %}
	
	<div id="content" class="span-24">
		{% block content %} 
		{% endblock %}
	</div>
	 
	{% block footer %}
		<!--<div id="footer" class="span-24 transparent"> 
			<h1> THIS IS OUR AWESOME FOOTER!!!!!!</h1>
                     </div>-->
	{% endblock %}
	
{% endblock %}


{% block javascript %}
//<script>

$(document).ready(function(){
	initLoad();
	loadTabs();
	loadFormData();
	loadArtists()
});



  //------------------ Ajax Methodes------------------------------
function loadTabs()
{
	var path = window.location.pathname;
	var link = path.substring(path.lastIndexOf("/"));
	$( "#tabs" ).tabs({activate: function( event, ui) {
		var url = '{{ path('ajax_load') }}';
		  $.ajax({
				  url: url,
				  type: "post",
				  data: {Type: ui.newTab.find('a').attr('type'),
				  		 Num: 10 /* maybe gets moded*/,
				  		 Link: link},
				  beforeSend: function(){
				  	if(ui.newPanel.html() == "") ui.newPanel.html(genLoad());
				  },
				  success: function(data) {
 				 ui.newPanel.html(data);
				  },
				  error: function(jqXHR, error, errorThrown) {
				  	ui.newPanel.html(jqXHR.responseText);
				  }
				  
		});
	    }
    });
}

function initLoad()
{
	var path = window.location.pathname;
	var link = path.substring(path.lastIndexOf("/"));
	$.ajax({
		  url: '{{ path('ajax_load') }}',
		  type: "post",
		  data: {Type:  $('#tabs a[href="#tabs-1"]').attr('type'),
		  		 Num: 10 /* maybe gets moded*/,
		  		 Link: link},
		  beforeSend: function(){
		  	$("#tabs-1").html(genLoad());
		  },
		  success: function(data) {
			  $("#tabs-1").html(data);
		  },
		  error: function(jqXHR, error, errorThrown) {
			  $("#tabs-1").html(jqXHR.responseText);
		  
		  }
		  
});
}

function loadArtists()
{
	$.ajax({
		url: '{{ path('loadArtists') }}',
		type: "post",
		success: function( data ) {
			 var length = data.length;
			 for(var i = 0; i < length; i++){
					$('select[id^="fav"]').each(function() { 
			 			$(this).append('<option value="' + data[i] + '">' + data[i] + '</option> <br />');
					 });
			 }
		 }});
}

function loadFormData()
{
	$.ajax({
		 type: "post",
		 url: "{{ path('fillArtist') }}",
		 success: function(data) {
			 var length = data.Genre.length;
			 for(var i = 0; i < length; i++){
				 $('select[id^="gen"]').each(function() { 
					 		$(this).append('<option value="' + data.Genre[i] + '">' + data.Genre[i] + '</option> <br />');
				 });
			 }
			 var a = $.makeArray(data.Locations);
			 $('select[name^="loc"]').each(function() {
				 for(var key in data.Locations) {
				 	 if (data.Locations.hasOwnProperty(key)){
						 	 for(var key2 in a[0][key]) {
								  if(a[0][key].hasOwnProperty(key2)){
									  $(this).append('<optgroup name="opt' + key2 + '" label="' + key2 + '"></optgroup> <br />');
									  for(i = 0; i < a[0][key][key2].length; i++) {
											 $(this).find('optgroup[name="opt' + key2 +'"]').append('<option country="' + key + '" fedstate="' + key2 + '" value="' + a[0][key][key2][i] + '">' + a[0][key][key2][i] + '</option> <br />');
									  }  
								  }
							  }
					 }	
				 }
			 });
		}
	});
}


// --------------- Pop Up-------------------

$(function() {
    $("#tabs").tabs();
    $("#open_l").on("click", function(e) {
        $("#dialog_l").dialog({
            draggable:false,
            resizable: false,
            modal: true,
            width: 400,
            height: 300,
            buttons:{
            "Login": function(){
                var passhash = CryptoJS.SHA3($("#login_password").val()).toString();
                var url = '{{ path('login') }}';
                $.ajax({
                          type: "post",
                          url: url,
                          data: {Email: $("#login_name").val(),
                                         Pwd:   passhash},
                          success: function() {
                          window.location = "{{ path('bbl_web_homepage') }}";
                          },
                          error: function() {
                             alert('Wrong Login or Password');
                          }
                });
            },
            Cancel: function() {
                            $( this ).dialog( "close" );
                            }
            }

        });
    });

    $("#open_f").on("click", function(e) {
        $("#dialog_f").dialog({
            draggable:false,
            resizable: false,
            modal: true,
            width: 820,
            height: 500,
            buttons:{
            "Apply": function(){
                	 var filter = getMultiFilter();
	            	 $.ajax({
	                     type: "post",
	                     url: '{{ path('setFilter') }}',
	                     data: {filter: JSON.stringify(filter)},
	                     success: function() {
	                    	//console.log("succsess");
	                     },
	                     error: function() {
	                       // alert('No! This is wrong');
	                     }
	         		  });
	            	  $( this ).dialog( "close" );
            },
            "Reset": function() {
		            	 $.ajax({
		                     type: "post",
		                     url: '{{ path('clearFilter') }}',
		                     success: function() {
		                    	//console.log("succsess");
		                     },
		                     error: function() {
		                       // alert('No! This is wrong');
		                     }
		         		  });
		            	  $( this ).dialog( "close" );
                    }
            }

        });

        $(".dialog-multiselect").chosen();

        $("#accordion").accordion({
            heightStyle: "content",
            collapsible:true,
            active: false
        });
    });
});

//-------RadioSidebar---------------------
$(function() {
    $( "#prev" ).button({
      text: false,
      icons: {
        primary: "ui-icon-seek-prev"
      }
    })
    .click(function() {
    	player.previous();
    	if ( $("#play").text() === "play" ) {
    		$("#play").button("option", { label: "pause", icons: {primary: "ui-icon-pause" }});
    	}
        });
    $( "#play" ).button({
      text: false,
      icons: {
        primary: "ui-icon-play"
      }
    })
    .click(function() {
      var options;
      if ( $( this ).text() === "play" ) {
    	$("#jquery_jplayer_1").jPlayer("play");
        options = {
          label: "pause",
          icons: {
            primary: "ui-icon-pause"
          }
        };
      } else {
    	$("#jquery_jplayer_1").jPlayer("pause");
        options = {
          label: "play",
          icons: {
            primary: "ui-icon-play"
          }
        };
      }
      $( this ).button( "option", options );
    });
    $( "#stop" ).button({
      text: false,
      icons: {
        primary: "ui-icon-stop"
      }
    })
    .click(function() {
      $("#jquery_jplayer_1").jPlayer("stop");
      $( "#play" ).button( "option", {
        label: "play",
        icons: {
          primary: "ui-icon-play"
        }
      });
    });
    $( "#next" ).button({
      text: false,
      icons: {
        primary: "ui-icon-seek-next"
      }
    })
    .click(function() {
    	player.next();
    	if ( $("#play").text() === "play" ) {
    		$("#play").button("option", { label: "pause", icons: {primary: "ui-icon-pause" }});
    	}
     });
});


  //---------------Helping methods----------------
function genLoad()
{
	return "<p> Loading, please wait....</p>";
}

 
function testfunc()
{
	alert('Surprise Mothafuckaa!!!');
}


function getMultiFilter()
{
   var filter = new Object();
   $('select[type="filter"]').each(function() {
  	 filter[$(this).attr('id')] = $(this).val(); 
   });
   return filter;
	
}



//-------try that fucking player

var player = null;
$(document).ready(function(){
player = new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_1",
		cssSelectorAncestor: "#jp_container_1"
	}, [
		{
			title:"Cro Magnon Man",
			artist:"<a href='/clangdom/app_dev.php/profil/god'> God <a>",
			mp3:"http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
			oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
		},
		{
			title:"Your Face",
			mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
			oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg"
		},
		{
			title:"Cyber Sonnet",
			artist:"<a href='Tour Mam'> Your Mam <a>",
			mp3:"http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
			oga:"http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg"
		},
		{
			title:"Tempered Song",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg"
		},
		{
			title:"Hidden",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-02-Hidden.ogg"
		},
		{
			title:"Lentement",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-03-Lentement.ogg"
		},
		{
			title:"Lismore",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-04-Lismore.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-04-Lismore.ogg"
		},
		{
			title:"The Separation",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-05-The-separation.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-05-The-separation.ogg"
		},
		{
			title:"Beside Me",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-06-Beside-me.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-06-Beside-me.ogg"
		},
		{
			title:"Bubble",
			free:true,
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
		},
		{
			title:"Stirring of a Fool",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-08-Stirring-of-a-fool.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-08-Stirring-of-a-fool.ogg"
		},
		{
			title:"Partir",
			free: true,
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-09-Partir.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-09-Partir.ogg"
		},
		{
			title:"Thin Ice",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-10-Thin-ice.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-10-Thin-ice.ogg"
		}
	], {
		swfPath: "{{ asset('bundles/bblweb/swf/Jplayer.swf') }}",
		supplied: "oga, mp3",
		wmode: "window",
		smoothPlayBar: true,
		keyEnabled: true,
		size: {
            width: "0",
            height: "0"
       }
	});
});


/*
$(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
            oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
          });
        },
        swfPath: "{{ asset('bundles/bblweb/swf/Jplayer.swf') }}",
        supplied: "m4a, oga"
      });
    });

  $(document).ready(function(){

			var myCirclePlayer = new CirclePlayer("#jquery_jplayer_1",
			{
				m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
				oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
			}, {
				cssSelectorAncestor: "#cp_container_1"
			});
});

function player(){
	element=document.getElementById('radpic')
	if(element.src.match("radioon")){
		element.src="{{ asset('bundles/bblweb/images/radiooff.png') }}",
		$(function(){
			$('#pause').click();
		});
	}
	else{
		element.src="{{ asset('bundles/bblweb/images/radioon.png') }}",
		$(function(){
			$('#play').click();
		});
	}
} 
*/  

{% endblock %} 
