{% extends '::base.html.twig' %}
{% block body %} 
{{ parent() }}
	
	{# hier kommen noch die tags zur formatierung #}
	<div id="header" class="span-24 transparent">	
			<div id="upheader">
				<img src="{{ asset('bundles/bblweb/images/HeaderUPPER.jpg') }}"  width="950" height="60">
			</div>
			<div id="midheader">
				<img src="{{ asset('bundles/bblweb/images/HEADERDOWNER.jpg') }}" width="574" height="42"><a href="#" data-reveal-id="myModal"  data-animation="fade"><img src="{{ asset('bundles/bblweb/images/JOIN.jpg') }}" width="130" height="42"></a><a href="#" data-reveal-id="myModal1"  data-animation="fade"><img src="{{ asset('bundles/bblweb/images/LOGIN.jpg') }}" width="88" height="42"></a><img src="{{ asset('bundles/bblweb/images/Bilder/side1_05.jpg') }}" width="158" height="42">
			</div>
			<div id="downheader">
				<img src="{{ asset('bundles/bblweb/images/HEADERDOWNER-06.jpg') }}" width="568" height="59"><img src="{{ asset('bundles/bblweb/images/BELOWBUTT.jpg') }}" width="224" height="59"><img src="{{ asset('bundles/bblweb/images/Bilder/side2_08.jpg') }}" width="158" height="59">
			</div>
	</div>
	
	<div id="content">
		{% block content %} 
		
		{% endblock %}
	</div>
	
	<div id="footer" class="span-24 transparent"> 
		{% block footer %} 
			<h1> THIS IS OUR AWESOME FOOTER!!!!!</h1>
		{% endblock %}
	</div>
{% endblock %}
