{% extends '::base.html.twig' %}
{% block body %} 
	<div id="header" class="span-24">
		<img src="{{ asset('bundles/bblweb/images/topheader.jpg') }}" width="731" height="35" id="topheader" alt="topheader"><a href="#" data-reveal-id="logModal" data-animation="fade" id="logLogo"><img src="{{ asset('bundles/bblweb/images/login.jpg') }}" width="72" height="35" alt="login"></a><img src="{{ asset('bundles/bblweb/images/space.jpg') }}" width="8" height="35" id="gap1"><a href="{{ path('registry') }}" id="regLogo"><img src="{{ asset('bundles/bblweb/images/join.jpg') }}" width="139" height="35" alt="join"></a>
		<div class="transparent"><img src="{{ asset('bundles/bblweb/images/gapup.jpg') }}" width="950" height="19"></div>
		<a href="{{ path('bbl_web_homepage') }}"><img src="{{ asset('bundles/bblweb/images/logo.jpg') }}" width="950" height="53" alt="clangdom"></a>
		<div class="transparent"><img src="{{ asset('bundles/bblweb/images/gapdown.jpg') }}" width="950" height="18" alt="gapdonw"></div>
		<img src="{{ asset('bundles/bblweb/images/navigationbar.jpg') }}" width="950" height="70" alt="navigation">	
	</div>
	
	<div id="content">
		{% block content %} 
		
		{% endblock %}

	</div> 	
	
	<div id="footer" class="span-24 transparent"> 

			<h1> THIS IS OUR AWESOME FOOTER!!!!!</h1>
	</div>
	
<----- Pop ups---> 
	<div id="logModal" class="reveal-modal span-24 showgrid">
			<h3 class="alt">Login to your CLANGDOM account!</h3>
			<hr>
			<p>
			Email: <input type="text" name="email_1" method="post"><br />
			Password: <input type="text" name="password_1" method="post"><br />
			<input type="submit" name="submit" value="LOGIN">
			<a class="close-reveal-modal">&#215;</a>
			</p>
		</div>
{% endblock %}