<!-- THIS IS THE USER HEADER!!!!! -->
<!--<div id="header" class="span-24">
    <div class="menu">
        <ul>
            <li><a href="{{ path('bbl_web_homepage') }}">Clangdom</a></li>
            <li><div id="searchfield"><input type="text" id="search" class="textBox" value="Search!" onfocus="if (this.value == 'Search!') this.value = '';" onblur="if (this.value == '') this.value = 'Search!';" maxlength="255" /><input type="image" src="{{ asset('bundles/bblweb/images/btn_search.png') }}" class="button" /></div></li>
            <li><a href="#" onClick="return false"><div id="radio"><img src="{{ asset('bundles/bblweb/images/radio4.png') }}"></div></a>
                <ul>
                    <li><embed height="100" width="300" src="#"></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" id="open_f"><div id="filter"><img src="{{ asset('bundles/bblweb/images/filter2.png') }}"></div></a></li>
            <li><div class="hiddenuser">hidden</div></li>
            <li><a href="#" onClick="return false" id="current"><img src="{{ asset('bundles/bblweb/images/settings.png') }}" class="pic"></a>
                <ul>
                    <li><a href="{{ path('settings') }}">Profilsettings</a></li>
                    <li><a href="{{ path('events') }}">Events</a></li>
                </ul>
            </li>
            <li><a href="#">Profiles</a>
                    <ul>
                    <!-- twigschleife hier
                            <li><a href="#">Camelized</a></li>
                            <li><a href="#">TheSimsns</a></li>
                            <li><a href="#">TheSimls</a></li>
                    </ul>
            </li>
            <li><a href="{{ path('logout') }}">Logout</a></li>
         </ul>
   </div>			
</div>-->
                    
<div id="header" class="span-24">
    <div class="menu">
        <ul>
                <li><a href="{{ path('bbl_web_homepage') }}">Clangdom</a></li>
                <li><div id="searchfield"><input type="text" id="search" class="textBox" value="Search!" onfocus="if (this.value == 'Search!') this.value = '';" onblur="if (this.value == '') this.value = 'Search!';" maxlength="255" /><input type="image" src="{{ asset('bundles/bblweb/images/btn_search.png') }}" class="button" /></div></li>
                <li><a href="#"><div id="radio"><img src="{{ asset('bundles/bblweb/images/radio4.png') }}" class="picR"></div></a>
                        <ul>
                                <li><embed height="100" width="300" src="#"></li>
                        </ul>
                </li>
                <li><a href="javascript:void(0);" id="open_f"><div id="filter"><img src="{{ asset('bundles/bblweb/images/filter2.png') }}"></div></a></li>
                <li><div class="hiddenuser">hh</div></li>
                <li><a href="javascript:void(0);"><img src="{{ asset('bundles/bblweb/images/message.png') }}" class="picM"></a>
                        <ul class="menucontainer">
                                <li><a id="open_m" href="javascript:void(0);">New Message</a></li>
                                <li><a class="open_rm" href="javascript:void(0);"><img class="messagepic" src="{{ asset('bundles/bblweb/stuff/guenther.png') }}" width="40" height="40">Auftritt</a></li>
                        </ul>
                </li>
                <li><a href="#" id="current"><img src="{{ asset('bundles/bblweb/images/settings.png') }}" class="picS"></a>
                        <ul>
                                <li><a href="{{ path('settings') }}">Profilsettings</a></li>
                                <li><a href="{{ path('events') }}">Events</a></li>
                        </ul>
                </li>
                <li><a href="#">Profiles</a>
                        <ul>
                                <li><a href="#">Camelized</a></li>
                                <li><a href="#">TheSimsns</a></li>
                                <li><a href="#">TheSimls</a></li>
                        </ul>
                </li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
        </ul>
    </div>
</div>
