{% extends 'BBLWebBundle:Base:layout.html.twig' %}
{% block header %}
	{% if sesson == true %}
			{% include 'BBLWebBundle:User:headeruser.html.twig' with { 'name' : name } %}
		{% else %}
			{% include 'BBLWebBundle:Base:headerguest.html.twig' %}
	{% endif %}
{% endblock %}
	{% block content %}
		<div id="profilbanner" class="span-24">
			<div id="profilpic" class="span-4"><img src="{{ asset(pic) }}" height="120px" width="120px"></div> <div id="profname" class="span-10 last"><h1> {{ profname }}</h1></div>
		</div>
		<hr>
		<div id="profcontent">
			<div id="tabs" class="span-24">
				<ul>
					<li><a href="#tabs-1">DASHBOARD</a></li>
					<li><a href="#tabs-2">MUSIC</a></li>
					<li><a href="#tabs-3">VIDEOS</a></li>
					<li><a href="#tabs-4">ABOUT</a></li>
				</ul>
				
				<div id="tabs-1" class="min">
				</div>
		
				<div id="tabs-2"class="min">
				</div>
		
				<div id="tabs-3"class="min">
				</div>
		
				<div id="tabs-4"class="min">
				</div>
			</div>
		</div>
	{% endblock %}
	
{% block javascript %}
// <script> 
$(document).ready(function(){
	initLoad();
	loadTabs();
	loadFormData();

	
});



  //------------------ Ajax Methodes------------------------------
function loadTabs()
{
	$( "#tabs" ).tabs({activate: function( event, ui) {
		var url = '{{ path('ajax_load') }}';
		  $.ajax({
				  url: url,
				  type: "post",
				  data: {Type: ui.newTab.find('a').attr('type'),
				  		 Num: 10 /* maybe gets moded*/},
				  beforeSend: function(){
				  	if(ui.newPanel.html() == "") ui.newPanel.html(genLoad());
				  },
				  success: function(data) {
 				 ui.newPanel.html(data);
				  },
				  error: function(jqXHR, error, errorThrown) {
				  	ui.newPanel.html(jqXHR.responseText);
				  }
				  
		});
	    }
    });
}

function initLoad()
{
	var path = window.location.pathname;
	var link = path.substring(path.lastIndexOf("/"));
	$.ajax({
		  url: '{{ path('ajax_load') }}',
		  type: "post",
		  data: {Type: "dash",
		  		 Num: 10,
		  		 Link: link},
		  beforeSend: function(){
		  	$("#tabs-1").html(genLoad());
		  },
		  success: function(data) {
			  $("#tabs-1").html(data);
		  },
		  error: function(jqXHR, error, errorThrown) {
			  $("#tabs-1").html(jqXHR.responseText);
		  
		  }
		  
});
}

function loadFormData()
{
	$.ajax({
		 type: "post",
		 url: "{{ path('fillArtist') }}",
		 success: function(data) {
			 var length = data.Genre.length;
			 for(var i = 0; i < length; i++){
				 $('select[id^="gen"]').each(function() { 
					 		$(this).append('<option value="' + data.Genre[i] + '">' + data.Genre[i] + '</option> <br />');
				 });
			 }
			/* var length = Country.length;
			 element = null;
			 for(var i = 0; i < length; i++){
			 	$("#regCou").append('<option value="' + Country[i] + '">' + Country[i] + '</option>');
		 	 }*/
		}
	});
}


// --------------- Pop Up-------------------

$(function() {
    $("#tabs").tabs();

    $("#open_l").on("click", function(e) {
        $("#dialog_l").dialog({
            draggable:false,
            resizable: false,
            modal: true,
            width: 400,
            height: 300,
            buttons:{
            "Login": function(){
                var passhash = CryptoJS.SHA3($("#login_password").val()).toString();
                var url = '{{ path('login') }}';
                $.ajax({
                          type: "post",
                          url: url,
                          data: {Email: $("#login_name").val(),
                                         Pwd:   passhash},
                          success: function() {
                          window.location = "{{ path('bbl_web_homepage') }}";
                          },
                          error: function() {
                             alert('No! This is wrong');
                          }
                });
            },
            Cancel: function() {
                            $( this ).dialog( "close" );
                            }
            }

        });
    });

    $("#open_f").on("click", function(e) {
        $("#dialog_f").dialog({
            draggable:false,
            resizable: false,
            modal: true,
            width: 820,
            height: 500,
            buttons:{
            "Change Filter": function(){
                            $( this ).dialog( "close" );
            },
            Cancel: function() {
                            $( this ).dialog( "close" );
                            }
            }

        });

        $(".dialog-multiselect").chosen();

        $("#accordion").accordion({
            heightStyle: "content",
            collapsible:true,
            active: false
        });
    });
});


  //---------------Helping methods----------------
function genLoad()
{
	return "<p> Loading, please wait....</p>";
}

 
function testfunc()
{
	alert('Surprise Mothafuckaa!!! ');
}
  
{% endblock %}

	